<style>
    .green{
        color:green;
    }

    .heading{
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        
    }
    
    </style>
    
    <div>
     <div class='heading'>
         Engineering Blog
     </div>
    <div>

       <div>
         <form>
          
           Recover password link <a class='green' href="<%=link%>">Click Here</a>


         </form> 
        </div>
    </div>
    </div>