<style>
    .green{
        color:green;
    }

    .heading{
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        
    }
    
    </style>
    
    <div>
     <div class='heading'>
         Engineering Blog
     </div>
    <div>
        <p>
           Dear &nbsp; <%=name%>
        </p>
       <p>You have been Verified , you can user your login credentials to login in to our website 
       </p>
    </div>
    </div>